h2.title {
  position: fixed;
  top: 10px;
  left: 250px;
  color: black;
}

h2.year {
  position: fixed;
  top: 60px;
  left: 420px;
  padding: 3px;
  color: darkblue;
  background-color: blanchedalmond;
}

div.commentary {
  position: fixed;
  top: 620px;
  left: 100px;
  width: 800px;
  color: black;
}

div.replay_buttons {
  position: fixed;
  top: 30px;
  left: 800px;
}

div.replay_buttons div {
  font-size: 16;
  padding: 3px;
  margin: 7px;
  outline-style: solid;
  outline-color: black;  
}

div.years_buttons {
  position: fixed;
  top: 30px;
  left: 30px;
}

div.years_buttons div {
  padding: 3px;
  margin: 7px;
  outline-style: solid;
  outline-color: black;
}

div.tooltip {
  position: absolute;			
  text-align: left;			
  width: 200px;					
  height: 100px;					
  padding: 2px;				
  font: 12px sans-serif;		
  background: lightgray;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}